.bg-block
	z-index: -1
	position: absolute
	top: 0
	background: url(../img/bg.png) top (center / cover) repeat
	background-size: 300px
	opacity: 0.02
	width: 100%
	height: 100%

.text
	font-family: Montserrat
	font-style: normal
	font-weight: bold
	font-size: 56px
	color: #FFFFFF

.container
	max-width: 1140px
	padding: 0 10px
	margin: 0 auto

  
.navbar
	display: flex
	justify-content: start
	align-items: center
	margin-top: 20px
.logo
	max-width: 150px
	flex: 0 1 150px
.menu
	display: flex
	flex: 1 1 auto

	&__item
		list-style: none
		margin: 0 16px

.menu .main__social, .hamburger
	display: none
		
.menu__link, .phone
	text-decoration: none
	font-family: Montserrat
	font-weight: 500
	font-size: 24px
	color: #FFFFFF

.main
	margin-top: 70px
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: flex-start
	&__social
		display: flex
		flex-direction: column
		justify-content: start
		align-items: center
		flex: 0 0 100px
		&-item
			margin: 16px 0
	&__order
		flex: 1 1 500px
		&-title
			font-family: Sophia
			font-weight: normal
			font-size: 180px
			color: #F2F2F2
			line-height: 160px
		&-text
			font-family: Montserrat
			font-style: normal
			font-weight: normal
			font-size: 24px
			line-height: 31px
			color: #F2F2F2
			max-width: 580px
		&-btn
			
			display: inline-flex
			text-align: center
			justify-content: center
			align-items: center
			height: 80px
			padding: 0px 40px
			letter-spacing: 2px
			border-radius: 100px
			position: relative
			top: 0
			color: #272727
			background-color: #ffffff
			border: none
			transition: all 0.5s ease 0s

			font-family: Montserrat
			font-size: 32px
			font-style: normal
			font-weight: 600
			&:hover
				padding: 0px 80px
				background-color: #dfdfdf

	&__man
		max-width: 240px
		img
			max-width: 100%

.mobile__man
	display: none


.promo
	margin-top: 70px
	&__wrapper-content
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 51px
	&__man
		margin-right: 25px
	&__romb-left
		transform: translateX(-60px)
		max-width: 265px
		float: left
	&__item
		display: flex
		align-items: center
		font-family: Montserrat
		font-weight: 500
		margin-bottom: 40px
		list-style: none
		padding-right: 15px
		&-icon
			width: 80px
			margin-right: 16px
		&-text
			max-width: 250px
			margin: 0



.location
	margin-top: 110px
	&__romb-right
		position: absolute
		right: 0
		max-width: 265px
	&__wrapper
		&-content
			display: flex
			justify-content: space-around
			align-items: flex-start
			margin-top: 72px
		span
			font-weight: bold
	&__info
		font-family: Montserrat
		font-weight: normal
		text-align: left
		font-size: 24px
		line-height: 44px
		color: #FFFFFF
	&__img
		max-width: 360px
	&__carousel 
		position: relative
        margin: 0 auto
    
.slick-prev, .slick-next 
	position: absolute
	top: 100%
	transform: translateY(-50%)
	left: 25px
	border: none
	background-color: transparent
	font-size: 120px
	color: #ffffff
	
	img 
		width: 31px
		height: 50px
	
.slick-next 
	left: auto
	right: 25px

    


	
	
.franchise
	margin-top: 120px
	&__wrapper
		&-content
			display: flex
			align-items: center
			background-color: #fff
			border-radius: 80px
			min-height: 135px
			margin-top: 72px
			max-width: 900px
	&__text
		font-family: Montserrat
		font-weight: normal
		font-size: 20px
		line-height: 28px
		color: #212121
		padding: 38px 40px
		max-width: 700px
		margin-bottom: 0
		border-right: 2px dotted rgba(114, 0, 60, 0.6)


	&__button
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		text-align: center
		padding: 10px 40px 10px 15px
		

		font-family: Montserrat
		font-style: normal
		font-weight: 500
		font-size: 18px
		
		&-one
			display: flex
			justify-content: center
			align-items: center
			width: 140px
			height: 45px
			background: #72003C
			border-radius: 100px
			cursor: pointer
			color: #FFFFFF
			
		&-two
			margin-top: 10px
			display: flex
			justify-content: center
			align-items: center
			width: 140px
			height: 45px
			background: #72003C
			border-radius: 100px
			cursor: pointer
			color: #FFFFFF
			




	


.footer
	margin-top: 70px
	&__wrapper
		display: flex
		flex-direction: column
		&-info
			display: flex
	&__about, &__social
		display: flex
		flex-direction: column
	&__about
		margin-right: 72px
	&__about-header, &__social-header
		font-size: 14px
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		color: #FFFFFF
	&__about-text, &__about-number, &__social-link
		font-family: Montserrat
		font-weight: normal
		font-size: 14px
		line-height: 24px
		max-width: 207px
		color: #fff
	&__wrapper-team
		font-family: Montserrat
		font-weight: normal
		font-size: 12px
		margin-top: 40px
		padding: 20px 0
		border-top: 1px solid #fff

